body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#dataForm input[type="number"],
#dataForm button {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#dataForm button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
}

#resultado {
    text-align: left;
    background-color: #eee;
    padding: 15px;
    border-radius: 4px;
    white-space: pre-wrap; /* Mantém a formatação do JSON */
}